@model BusStationRemake.Marshrut

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Marshrut</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.bilet_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bilet_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.destination)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.destination)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
